###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###
# For XCode resource: https://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
###

*.swp
*~.nib

.Trashes

DerivedData/
build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xccheckout
xcuserdata/